[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
trueskill = "*"
pydantic = "*"
tabulate = "*"
ratelimit = "*"
backoff = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"
pyupgrade = "*"

[requires]
python_version = "3.12"
